[submodule "lib/chibios"]
	path = lib/chibios
	url = https://github.com/qmk/ChibiOS.git
[submodule "lib/chibios-contrib"]
	path = lib/chibios-contrib
	url = https://github.com/OpenAnnePro/ChibiOS-Contrib
